# Java
*.class

# Kotlin
*.class
*.kotlin_bin

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
**/*.tfstate
**/.terraform/

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Aider chat history
.aider.tags.cache.*
.aider.chat.history.md
.aider.input.history
.aider.conf.yml
.env
backend/build/
backend/target/
backend/.gradle/
frontend/web/node_modules/
frontend/android/.gradle/

